* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.layout {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderRange {

    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliderRange input {
    height: 35px;
    width: 250px;
    color: blue;
}

